.env
temp.wav
creds.json
credentials.json
token.json
reminders.json
user_dataset_temp/*
user_models/*
pretrained_models/*
__pycache__/*
__pycache__/calendar_utils.cpython-310.pyc
utils/__pycache__/calendar.cpython-310.pyc
utils/__pycache__/home_assistant.cpython-310.pyc
utils/__pycache__/reminders.cpython-310.pyc
utils/__pycache__/spotify.cpython-310.pyc
utils/__pycache__/tools.cpython-310.pyc
utils/__pycache__/weather.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/classiciation.cpython-310.pyc
utils/__pycache__/strings.cpython-310.pyc
test.wav
__pycache__/user_classification.cpython-310.pyc
utils/__pycache__/store_conversation.cpython-310.pyc
__pycache__/pveagle.cpython-310.pyc
conversations.db
__pycache__/pveagle_speaker_identification.cpython-310.pyc
__pycache__/classification.cpython-310.pyc
pretrained_models/asr-crdnn-rnnlm-librispeech/asr.ckpt
__pycache__/classification.cpython-310.pyc
pretrained_models/asr-crdnn-rnnlm-librispeech/tokenizer.ckpt
pretrained_models/asr-crdnn-rnnlm-librispeech/normalizer.ckpt
pretrained_models/asr-crdnn-rnnlm-librispeech/lm.ckpt
user_models/Tom.pv
user_dataset_temp/Tom/635.wav
user_dataset_temp/Tom/304.wav
user_dataset_temp/Tom/59.wav
temp_cleaned_normalised.wav
temp_cleaned.wav
__pycache__/classification.cpython-310.pyc
/.idea/.gitignore
/.idea/jarvis-gpt.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
profile.json
profile.html
