.env
temp.wav
creds.json
credentials.json
token.json
reminders.json
__pycache__/calendar_utils.cpython-310.pyc
utils/__pycache__/calendar.cpython-310.pyc
utils/__pycache__/home_assistant.cpython-310.pyc
utils/__pycache__/reminders.cpython-310.pyc
utils/__pycache__/spotify.cpython-310.pyc
utils/__pycache__/tools.cpython-310.pyc
utils/__pycache__/weather.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/classiciation.cpython-310.pyc
utils/__pycache__/strings.cpython-310.pyc
